html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-rows: [row-start] 185px [header-end main-row-start] 1fr [row-end];
  grid-template-columns: [col-start] 300px [sidebar-end main-col-start] minmax(900px, 1fr) [col-end];
}

.header-container {
  background-color: #3b82f6;
  padding: 2rem;
  grid-area: row-start / main-col-start;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sub-header-container {
  display: flex;
}

.sub-header-container.bottom-header {
  justify-content: space-between;
}

.sub-head-item.welcome {
  display: flex;
  align-items: center;
}

.search-box-wrapper {
  flex: 1;
}

.sub-head-item {
  margin-right: 1.35rem;
}

.search-box-wrapper input[type="text"] {
  width: 80%;
  height: 1.5rem;
  border: none;
  border-radius: 0.75rem;
  padding-left: 0.75rem;
}

.sidebar-container {
  background-color: #1e3a8a;
  color: #eff6ff;
  padding: 2rem;
  grid-area: row-start / col-start / row-end / sidebar-end;
  position: relative;

  display: grid;
  grid-template-rows: min-content min-content min-content;
  row-gap: 2.35rem;
}

.sidebar-container li svg {
  margin-right: 1.35rem;
}

.branding {
  font-size: 1.75rem;
  font-weight: 500;

  display: flex;
  align-items: center;
  position: relative;
  right: 15px;
}

.branding svg {
  margin-right: 0.8rem;
}

.nav-menu {
  font-size: 1.15rem;
  font-weight: 500;
}

.sidebar-container ul {
  list-style-type: none;
}

.sidebar-container li {
  padding-top: 1.25rem;
  display: flex;
  align-items: center;
}

.main-content-container {
  background-color: #a5b4fc;
  padding: 5rem;
  grid-area: main-row-start / main-col-start;
}